{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <a href="{{ path('app_post_create') }}">Pour créer un nouveau post </a>
    <br>
    <a href="{{ path('app_register') }}">Register </a>
    <br>
    <a href="{{ path('app_login') }}">Login</a>

    <h1>Tous les posts</h1>
    {% for post in posts %}

    <div class="card">
        <h2 class="card-title">{{ post.title }}</h2>
        <div class="card-body">
            {% if app.user %}

            {% if post.author == app.user %}
            <p>Tu as écrit ce post </p>

            {% endif %}

            {% endif %}

            <p>Author: {{ post.author.email }}</p>
            <p>Le titre: {{ post.title }}</p>
            <p>{{ post.content }}</p>
            <a href="{{ path('app_post_show', {id:post.id}) }}">Voir ce post </a>


        </div>
        <hr>


    </div>

    {% endfor %}


{% endblock %}
